*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'roboto',sans-serif;
}
.main{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.hero{
    display: grid;
    grid-template-columns: minmax(300px, 2fr) 3fr;
    grid-auto-rows: 550px;
    padding: 0 100px;
}
.hero-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.info{
    align-self: center;
}
.info-title{
    color:#333;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 24px;
}
.info-subtitle{
    color:#333;
    font-size: 1.5rem;
    margin-bottom: 24px;
}
.info-button{
    border: none;
    border-radius: 20px;
    color: #333;
    background-color: #fb8c00;
    font-weight: bolder;
    padding: 12px 24px;

}
.dishes{
    margin: 100px 0;

}
.dishes-title{
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  font-size: 3rem;
}
.dishes-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px , 200px));
    grid-auto-rows: 1fr;
    gap: 25px;
    justify-content: center;

}
.dishes-item{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dishes-item__big{
    grid-area: 1/1/3/3;
}
.menu{
    width: 100%;
    padding: 0 100px 100px;

}
.menu-title{
    color: #333;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  font-size: 3rem;
}
.menu-container{
    display: grid;
    grid-template-columns: repeat(5, minmax(100px , 250px));
    gap: 15px;
    justify-content: center;
}
.menu-images{
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #c7b7c7;
    border-radius: 8px;
}
 