@media (max-width:564px){

    .menu-container{
      
        grid-template-columns: repeat(3, minmax(100px , 250px));
        gap:5px;
    }
    }

@media (max-width:700px){
    .hero{
        grid-template-columns: minmax(300px,500px);
        justify-content: center;
        padding: 0 160px;
        background-image: url('./imagenes/vino.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        
    }
    .info h1,
    .info p{
        color: white;
    }
.hero-image{
    display: none;
}
.dishes{
    margin-top: 0;
    padding: 0 20px;
    
}
.dishes-grid{
    grid-template-columns: repeat(auto-fit, minmax(75px , 120px));
   
} 
}

